<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  <%= label_tag(:fullname, "Full name", class: 'label' ) %>
  <%= form.text_field(:fullname, placeholder: 'Full name', class: 'input') %>
  </div>

  <div class="field">
  <%= label_tag(:birthdate, "Birth Date", class: 'label' ) %>
  <%= form.date_field(:birthdate, placeholder: 'Birth Date', class: 'input') %>
  </div>

  <div class="field">
  <p class='label'>Gender</p>
  <%= form.radio_button(:gender, "Male") %>
  <%= form.label(:male, "Male") %>
  <%= form.radio_button(:gender, "Female") %>
  <%= form.label(:female, "Female") %>
  </div>

  <div class="field">
  <%= label_tag(:imageURL, "image url", class: 'label' ) %>
  <%= form.text_field(:imageURL, placeholder: 'image url', class: 'input') %>
  </div>

  <div class="actions">
    <%= form.submit('Create', class: 'button') %>
  </div>
<% end %>
