<p id="notice"><%= notice %></p>

<div class="card">
  <div class="card-image">
    <figure class="image card-img">
      <%= image_tag @user.imageURL %>
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4"><%= @user.fullname %></p>
        <p>Gender: <%= @user.gender %></p>
        <p>Birthdate: <%= @user.birthdate %></p>
      </div>
    </div>
  </div>
</div>
